<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<!--레이아웃용-->
<!--검색조건 선택화면-->
<div layout:fragment="content">
    <div class="row mt-3">
        <form action="/answer/list2" method="get">
            <div class="col">
                <input type="hidden" name="size" th:value="${pageRequestedDTO.size}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-select" name="type">
                            <option value="">---</option>
                            <option value="t" th:selected="${pageRequestedDTO.type == 't'}">제목</option>
                            <option value="c" th:selected="${pageRequestedDTO.type == 'c'}">내용</option>
                            <option value="tc" th:selected="${pageRequestedDTO.type == 'tc'}">제목내용</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" name="keyword"
                           th:value="${pageRequestedDTO.keyword}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary searchBtn"
                                type="submit">Search</button>
                        <button class="btn btn-outline-secondary clearBtn"
                                type="button">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--검색조건 선택화면 끝-->
    <div class="card">
        <div class="card-header">
            1:1QnA(관리자답변)
        </div>
        <div class="card-body">
            <h5 class="card-title"> 목록</h5>

            <table class="table">
                <thead><!--상단에 보여질 번호/제목/작성자/등록시간-->
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">등록시간</th>
                </tr>
                </thead>
                <tbody th:with="link = ${pageRequestedDTO.getLink()}"><!--화면에 보여질 내용물,반복문-->
                <tr th:each="dto:${responseDTO.dtoList}">
                    <th scope="row">[[${dto.qno}]]</th>
                    <td> <!--제목 클릭시 보여질 주소-->
                        <a th:href="|@{/templates/admin/answer/create(qno =${dto.qno})}&${link}|"> [[${dto.qtitle}]]</a>
                    </td>
                    <td><span th:if="${dto.member != null}" th:text="${dto.member.mid}"></span></td>
                    <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
                </tr>
                </tbody>
            </table>

            <!-- 목록화면끝 -->
            <!--페이지 번호들을 화면에 출력-->
            <div class="float-end">
                <ul class="pagination flex-wrap">
                    <li class="page-item" th:if="${responseDTO.prev}">
                        <a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
                    </li>
                    <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                        <!--  #numbers.sequence() 특정한 범위의 연속된 숫자를 만듬-->

                        <li th:class="${responseDTO.page == i}?'page-item active':'page-item'" >
                            <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                            <!--data-num 이라는 속성으로 페이지번호를 처리-->
                        </li>
                    </th:block>

                    <li class="page-item" th:if="${responseDTO.next}">
                        <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
                        <!--페이지 번호들을 화면에 출력 끝-->
                    </li>
                </ul>
            </div>
        </div><!--end card body-->
    </div><!--end card-->
<!--등록시모달창-->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div><!--end layout fragment-->

<script layout:fragment="script" th:inline="javascript">
    //이벤트처리
    document.querySelector(".pagination").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()
        const target = e.target

        if(target.tagName !== 'A'){
            return
        }

        const num = target.getAttribute("data-num")

        const formObj = document.querySelector("form")

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

        formObj.submit();

    },false)

    document.querySelector(".clearBtn").addEventListener("click",function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location ='/answer/list2'

    },false)

    //show modal ..등록시 모달창이 떠야하는데 안뜸.
    const result = [[${result}]]

    const modal = new bootstrap.Modal(document.querySelector(".modal"))

    if(result){
        modal.show()
    }

</script>
</html>