<th:block th:replace="~{layout/header :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <div class="hero page-inner overlay" style="background-image: url('/images/hero_bg_1.jpg')">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-9 text-center mt-5">
                        <h1 class="heading" data-aos="fade-up">Register</h1>

                        <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                            <ol class="breadcrumb text-center justify-content-center">
                                <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/question/qna}">QnA</a></li>
                                <li class="breadcrumb-item active text-white-50" aria-current="page">Register</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                        <div class="contact-info">
                            <div class="address mt-2">
                                <i class="icon-room"></i>
                                <h4 class="mb-2">위치:</h4>
                                <p>
                                    경기도 수원시 팔달구<br/>
                                    덕영대로 924(수원역)
                                </p>
                            </div>

                            <div class="open-hours mt-4">
                                <i class="icon-clock-o"></i>
                                <h4 class="mb-2">운영시간:</h4>
                                <p>
                                    월요일 - 금요일 :<br/>
                                    11:00 AM - 18:00 PM
                                </p>
                            </div>

                            <div class="email mt-4">
                                <i class="icon-envelope"></i>
                                <h4 class="mb-2">이메일:</h4>
                                <p>admin@email.com</p>
                            </div>

                            <div class="phone mt-4">
                                <i class="icon-phone"></i>
                                <h4 class="mb-2">전화:</h4>
                                <p>031-234-5678</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                        <form th:action="@{/question/register}" method="post"> <!--form을 이용한 입력가능 부분구현-->
                            <div class="row">
                                <!-- 제목 -->
                                <div class="col-9 mb-3">
                                    <input type="text" name="qtitle" class="form-control" placeholder="제목을 입력하세요."/>

                                </div>
                                <div class="col-3 mb-3">
                                    <fieldset class="form-group">
                                        <select class="form-select" id="qcate" name="qcate" style="height: 51.6px;">
                                            <option value="배송">배송</option>
                                            <option value="포인트">포인트</option>
                                            <option value="신고">신고</option>
                                            <option value="기타">기타</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <!-- 내용 -->
                                <div class="col-12 mb-3">
                                    <textarea name="qcontent" id="" cols="30" rows="7" class="form-control"
                                              placeholder="내용을 입력하세요."></textarea>
                                </div>
                                <!-- 작성자 -->
                                <div class="col-6 mb-3">
                                    <input type="text" name="member" class="form-control" th:value="${#authentication.principal.username}" readonly/>
                                </div>
                                <!-- 비밀글 여부 -->
                                <div class="col-6 mb-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group mb-3">
                                            <div class="input-group-text"> 비밀글 &nbsp;
                                                <input class="form-check-input form-check-success" type="checkbox" value="true" name="secret"
                                                       aria-label="Checkbox for following text input">
                                            </div>
                                            <input type="password" class="form-control" name="password"
                                                   aria-label="Text input with checkbox">
                                        </div>
                                    </div>
                                </div>
                                <!-- 등록 버튼 -->
                                <div class="col-12">
                                    <input type="submit" value="등록하기" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>