<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{layout_admin/header :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <div id="app">
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>
                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>1:1QnA(관리자페이지)</h3>
                                <p class="text-subtitle text-muted">Check out the new questions and give new answers</p>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a th:href="@{/admin/index}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">QnA</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="container my-3" style="margin-left: 0px; margin-right: 0px;">
                                    <!-- 질문 제목-->
                                    <h4 class="border-bottom my-3 py-2" th:text="${question.qtitle} "></h4>
                                    <div class="my-3"></div><!--end card my-3(질문제목배경색)-->
                                </div>
                                <!-- 질문 내용 및 시간-->
                                <div class="card-body">
                                    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"><!--답변창커짐-->
                                    <div th:text="${question.qcontent}"></div>
                                    <div class="d-flex justify-content-end"> <!--시간위치(오른쪽정렬)-->
                                        <div class="badge bg-light text-dark p-2 text-start"><!--시간테두리-->
                                            <div class="mb-2"><!--작성자표시-->
                                                <span th:if="${dto.member != null}" th:text="${dto.member.mid}"></span>
                                            </div>
                                            <div th:text="${#temporals.format(question.regDate, 'yyyy-MM-dd HH:mm')}"></div>
                                        </div><!--시간테두리 끝-->
                                    </div><!--시간위치(오른쪽정렬)-->
                                    <!-- 답변의 갯수 표시 -->
                                    <h5 class="border-bottom my-3 py-2"
                                        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
                                    <!-- <h5 th:text="|${#lists.size(question.answerList)}개의 답변을 등록했습니다.|"></h5>-->
                                    <!-- 답변 반복 시작 --><!--답변들 칸이 나눠짐-->
                                    <div class="card-a my-3" th:each="answer : ${question.answerList}">
                                        <div class="card-body">
                                            <div class="card-text" style="white-space: normal;"
                                                 th:text="${answer.acontent}"></div>
                                            <div class="d-flex justify-content-end">
                                                <div class="badge bg-light text-dark p-2 text-start">
                                                    <div class="mb-2"><!--작성자표시-->
                                                        <span th:if="${answer.member != null}"
                                                              th:text="${answer.member.mid}"></span>
                                                    </div>
                                                    <div th:text="${#temporals.format(answer.regDate, 'yyyy-MM-dd HH:mm')}"></div>
                                                    <div class="my-3 my-3-ans">
                                                        <!--답변 수정 버튼-->
                                                        <a th:href="@{|/admin/answer/modify/${answer.ano}|}"
                                                           class="btn bi bi-pencil-square"></a>
                                                        <a onclick="return confirm('정말로 삭제하시겠습니까?');"
                                                           th:href="@{|/admin/answer/delete/${answer.ano}|}"
                                                           class="btn bi bi-trash-fill"
                                                           sec:authorize="isAuthenticated()"
                                                           th:if="${answer.member != null and #authentication.getPrincipal().getMid() == answer.member.mid}"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end card-body-->
                            </div><!--end card my-3-->

                            <!-- 답변 반복 끝  -->
                            <!--답변 작성-->
                            <form th:action="@{|/admin/answer/create/${question.qno}|}" method="post" class="my-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">답변</div>
                                            <div class="card-body">
                                                <div class="form-floating">
                                                <textarea class="form-control" placeholder="Leave a comment here"
                                                          name="acontent" id="acontent"></textarea>
                                                    <label for="acontent">Comments</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="my-4">
                                    <div class="float-end" th:with="link = ${pageRequestedDTO.getLink()}">
                                        <a th:href="@{/admin/answer/list}" class="text-decoration-none">
                                            <button type="button" class="btn btn-outline-success">목록</button>
                                        </a>
                                    </div><!--end class="float-end"-->
                                </div><!--end class="my-4"-->
                                <input type="submit" value="답변등록" class="btn btn-success">
                            </form>
                        </div><!--end card-body-->
                        <!--목록,수정,답변버튼-->

                    </div><!--end card-->
                </div>
            </div>

            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
            <script th:inline="javascript">
                //수정버튼 누를 시 에러처리 부분
                const errors = [[${errors}]]
                console.log(errors)

                let errorMsg = ''

                if (errors) {
                    for (let i = 0; i < errors.length; i++) {
                        errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
                    }
                    history.replaceState({}, null, null)
                    alert(errorMsg)
                }
                //수정시이벤트처리(정상처리시 목록으로 이동)
                const link = [[${pageRequestedDTO.getLink()}]]
                const formObj = document.querySelector("#f1")

                document.querySelector(".modifyBtn").addEventListener("click", function (e) {
                    e.preventDefault()
                    e.stopPropagation()

                    formObj.action = `/answer/modify?${link}`
                    formObj.method = 'post'
                    formObj.submit()
                }, false)
                //삭제버튼 누를 시 삭제처리
                document.querySelector(".deleteBtn").addEventListener("click", function (e) {
                    e.preventDefault()
                    e.stopPropagation()
                    formObj.action = `/answer/list`
                    formObj.method = 'post'
                    formObj.submit()
                }, false)
                //목록으로 이동하는 버튼의 이벤트처리
                document.querySelector(".list2Btn").addEventListener("click", function (e) {
                    e.preventDefault()
                    e.stopPropagation()
                    formObj.reset()
                    formObj.action = `/answer/list`

                }, false)
            </script>
    </th:block>
</th:block>
