<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout_admin/header :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <div id="app">
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>
                <h1 class="mt-4">공지사항 등록하기</h1>
                <br>
                <form th:action="@{/admin/notice/register}" th:method="post" th:object="${noticeDTO}">
                    <div class="form-group">
                        <label style="padding-left: 5px;">제목</label>
                        <input type="text" class="form-control" th:field="*{ntitle}" placeholder="제목을 입력하세요">
                        <span th:if="${#fields.hasErrors('ntitle')}" th:errors="*{ntitle}" class="text-danger" style="padding-left: 10px;"></span>
                    </div>

                    <div class="form-group">
                        <label style="padding-left: 5px;">내용</label>
                        <textarea class="form-control" th:field="*{ncontent}" rows="5" placeholder="내용을 입력하세요"></textarea>
                        <span th:if="${#fields.hasErrors('ncontent')}" th:errors="*{ncontent}" class="text-danger" style="padding-left: 10px;"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">등록하기</button>
                </form>
            </div>
        </div>
    </th:block>
</th:block>
