<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout_admin/layout_member :: setContent(~{this::content} )}">

    <head>
        <meta charset="UTF-8">
        <title>Login - Mazer Admin Dashboard</title>
    </head>

    <th:block th:fragment="content">
        <div id="auth">
            <div class="row h-100">
                <div class="col-lg-5 col-12">
                    <div id="auth-left">
                        <div class="auth-logo">
                            <a th:href="@{/index}"><img th:src="@{/assets/images/logo/namuWidth.png}" alt="Logo"></a>
                        </div>
                        <h1 class="auth-title">회원가입</h1>
                        <p class="auth-subtitle mb-5">Input your data to register to our website.</p>

                        <form th:action="@{/member/register}" th:object="${memberJoinDTO}" id="registerForm"
                              th:method="post">
                            <!-- 아이디 -->
                            <small class="text-danger" th:if="${#fields.hasErrors('mid')}"
                                   th:errors="${memberJoinDTO.mid}"></small>
                            <div class="form-group position-relative has-icon-left mb-4"
                                 th:classappend="${#fields.hasErrors('mid')} ? 'has-error' : ''">
                                <input type="text" class="form-control form-control-xl" name="mid" th:field="${memberJoinDTO.mid}"
                                        placeholder="아이디(필수)">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                            <!-- 이메일 -->
                            <small class="text-danger" th:if="${#fields.hasErrors('memail')}"
                                   th:errors="${memberJoinDTO.memail}"></small>
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="memail" th:field="${memberJoinDTO.memail}"
                                       placeholder="이메일(필수)">
                                <div class="form-control-icon">
                                    <i class="bi bi-envelope"></i>
                                </div>
                            </div>
                            <!-- 이름 -->
                            <small class="text-danger" th:if="${#fields.hasErrors('mname')}"
                                   th:errors="${memberJoinDTO.mname}"></small>
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="mname" th:field="${memberJoinDTO.mname}"
                                       placeholder="이름(필수)">
                                <div class="form-control-icon">
                                    <i class="bi bi-person-square"></i>
                                </div>
                            </div>
                            <!-- 비밀번호 -->
                            <small class="text-danger" th:if="${#fields.hasErrors('mpw')}"
                                   th:errors="${memberJoinDTO.mpw}"></small>
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="password" class="form-control form-control-xl" name="mpw" id="mpw1"
                                       oninput="pwCheck()" placeholder="비밀번호(필수)">
                                <div class="form-control-icon">
                                    <i class="bi bi-shield-lock"></i>
                                </div>
                            </div>
                            <span id="pwConfirm"></span>
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="password" class="form-control form-control-xl" name="mpw2" id="mpw2"
                                       oninput="pwCheck()" placeholder="비밀번호 확인(필수)">
                                <div class="form-control-icon">
                                    <i class="bi bi-shield-lock"></i>
                                </div>
                            </div>
                            <!-- 생일 -->
                            <small class="text-danger" th:if="${#fields.hasErrors('mbirthday')}"
                                   th:errors="${memberJoinDTO.mbirthday}"></small>
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="mbirthday" th:field="${memberJoinDTO.mbirthday}"
                                       placeholder="생일(-제외 ex.yyyymmdd)(필수)">
                                <div class="form-control-icon">
                                    <i class="bi bi-calendar-check"></i>
                                </div>
                            </div>
                            <!-- 주소 -->
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="maddress" th:field="${memberJoinDTO.maddress}"
                                       placeholder="주소">
                                <div class="form-control-icon">
                                    <i class="bi bi-house-door"></i>
                                </div>
                            </div>
                            <!-- 핸드폰 -->
                            <small class="text-danger" th:if="${#fields.hasErrors('mphone')}"
                                   th:errors="${memberJoinDTO.mphone}"></small>
                            <div class="form-group position-relative has-icon-left mb-4">
                                <input type="text" class="form-control form-control-xl" name="mphone" th:field="${memberJoinDTO.mphone}"
                                       placeholder="핸드폰번호(필수)">
                                <div class="form-control-icon">
                                    <i class="bi bi-phone"></i>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5" type="submit" id="success">
                                회원가입
                            </button>
                        </form>
                        <div class="text-center mt-5 text-lg fs-4">
                            <p class='text-gray-600'>이미 계정이 있으신가요?
                                <a th:href="@{/member/login}" class="font-bold">로그인</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 d-none d-lg-block">
                    <div id="auth-right">
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:inline="javascript">
            function pwCheck() {
                if ($('#mpw1').val() == $('#mpw2').val()) {
                    $('#pwConfirm').text('비밀번호 일치').addClass('text-success').removeClass('text-danger');
                } else {
                    $('#pwConfirm').text('비밀번호 불일치').addClass('text-danger').removeClass('text-success');
                }
            }

        </script>
    </th:block>
</th:block>
</html>