<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="~{layout_admin/header :: setContent(~{this::content} )}">

    <head>
        <meta charset="UTF-8">
        <title>Form Layout - Mazer Admin Dashboard</title>
    </head>

    <th:block th:fragment="content">
        <div id="app">
            <div id="main">
                <header class="mb-3">
                    <a href="#" class="burger-btn d-block d-xl-none">
                        <i class="bi bi-justify fs-3"></i>
                    </a>
                </header>

                <div class="page-heading">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-12 col-md-6 order-md-1 order-last">
                                <h3>내 정보</h3>
                                <p class="text-subtitle text-muted">Multiple form layout you can use</p>
                            </div>
                            <div class="col-12 col-md-6 order-md-2 order-first">
                                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Form Layout</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- Basic Horizontal form layout section start -->
                    <section id="basic-horizontal-layouts">
                        <div class="row match-height">
                            <div class="col-md-12 col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">수정하기</h4>
                                    </div>
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form th:action="@{/mypage/myinfo/passwordModify}" th:method="post"
                                                  onsubmit="return validateForm('modifyPasswordForm')">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>Id</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <input type="text" class="form-control" name="mid"
                                                                           th:value="${member.mid}" readonly>
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-person"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Password</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <input type="password" class="form-control"
                                                                           name="mpw" id="mpw1" oninput="validateForm()"
                                                                           placeholder="Password">
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-lock"></i>
                                                                    </div>
                                                                </div>
                                                                <div id="passwordError" class="text-danger"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Password 확인</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group has-icon-left">
                                                                <div class="position-relative">
                                                                    <input type="password" class="form-control"
                                                                           name="mpw2"
                                                                           id="mpw2" oninput="validateForm()"
                                                                           placeholder="Password Check">
                                                                    <div class="form-control-icon">
                                                                        <i class="bi bi-lock"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <button type="submit" class="btn btn-primary me-1 mb-1">DONE
                                                        </button>
                                                        <a th:href="@{/member/mypage}">
                                                            <button type="button"
                                                                    class="btn btn-light-secondary me-1 mb-1">BACK
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- // Basic Horizontal form layout section end -->
            </div>
        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:inline="javascript">

            function validateForm() {
                var password = document.getElementById('mpw1').value;

                // 비밀번호 길이 체크
                if (password.length < 8 || password.length > 16) {
                    document.getElementById('passwordError').innerHTML = '비밀번호는 8자 이상 16자 이하로 입력해주세요.';
                    return false;
                } else {
                    if ($('#mpw1').val() == $('#mpw2').val()) {
                        $('#passwordError').text('비밀번호 일치').addClass('text-success').removeClass('text-danger');
                        return true;
                    } else {
                        $('#passwordError').text('비밀번호 불일치').addClass('text-danger').removeClass('text-success');
                        return false;
                    }
                }
            }

        </script>
    </th:block>
</th:block>


</html>