<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Mazer Admin Dashboard</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">

  <!-- CSS -->
  <!-- common -->
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/assets/vendors/bootstrap-icons/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/assets/css/app.css}">

  <!-- auth -->
  <link rel="stylesheet" th:href="@{/assets/css/pages/auth.css}">
  <!-- error -->
  <link rel="stylesheet" th:href="@{/assets/css/pages/error.css}">

</head>
<body>

<th:block th:replace="${content}"></th:block>

</body>
</th:block>
</html>