<th:block th:replace="~{layout/header :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <div class="hero page-inner overlay" style="background-image: url('/images/hero_bg_3.jpg')">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-9 text-center mt-5">
                        <h1 class="heading" data-aos="fade-up">About</h1>

                        <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                            <ol class="breadcrumb text-center justify-content-center">
                                <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                                <li class="breadcrumb-item active text-white-50" aria-current="page">About
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row text-left mb-5">
                    <div class="col-12">
                        <h2 class="font-weight-bold heading text-primary mb-4">나무 기획 입니다</h2>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-black-50">
                            중고 물품 거래
                        </p>
                        <p class="text-black-50">
                            신나는 직거래
                        </p>
                        <p class="text-black-50">
                            용돈 벌어 버리기
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-black-50">
                            이웃만 아는
                            동네 정보와 이야기
                        </p>
                        <p class="text-black-50">
                            우리동네의 다양한 정보와 이야기를
                            공감과 댓글로 나누어요.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section pt-0">
            <div class="container">
                <div class="row justify-content-between mb-5">
                    <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
                        <div class="img-about dots">
                            <img src="https://economist.co.kr/data/ecn/image/2022/02/10/ecn8d7cc7df-890b-46b0-92d1-445912267e32.jpg" alt="Image" class="img-fluid"/>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
                            <div class="feature-text">
                                <h3 class="heading">동네모임</h3>
                                <p class="text-black-50">
                                    근처 이웃들과 동네
                                    이야기를 해보세요.
                                </p>
                            </div>
                        </div>

                        <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
                            <div class="feature-text">
                                <h3 class="heading">동네질문</h3>
                                <p class="text-black-50">
                                    궁금한 게 있을 땐
                                    이웃에 물어보세요.
                                </p>
                            </div>
                        </div>

                        <div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
                            <div class="feature-text">
                                <h3 class="heading">동네분실센터</h3>
                                <p class="text-black-50">
                                    무언가를 잃어버렸다면
                                    글을 올려보세요.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
                        <img src="images/img_1.jpg" alt="Image" class="img-fluid"/>
                    </div>
                    <div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
                        <img src="images/img_3.jpg" alt="Image" class="img-fluid"/>
                    </div>
                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                        <img src="images/img_2.jpg" alt="Image" class="img-fluid"/>
                    </div>
                </div>
                <div class="row section-counter mt-5">
                    <div
                            class="col-6 col-sm-6 col-md-6 col-lg-3"
                            data-aos="fade-up"
                            data-aos-delay="300"
                    >
                        <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">29</span></span
              >
                            <span class="caption text-black-50">현재 투자한 사람들</span>
                        </div>
                    </div>
                    <div
                            class="col-6 col-sm-6 col-md-6 col-lg-3"
                            data-aos="fade-up"
                            data-aos-delay="400"
                    >
                        <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">3918</span></span
              >
                            <span class="caption text-black-50">거래량</span>
                        </div>
                    </div>
                    <div
                            class="col-6 col-sm-6 col-md-6 col-lg-3"
                            data-aos="fade-up"
                            data-aos-delay="500"
                    >
                        <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">3892800</span></span
              >
                            <span class="caption text-black-50">총금액</span>
                        </div>
                    </div>
                    <div
                            class="col-6 col-sm-6 col-md-6 col-lg-3"
                            data-aos="fade-up"
                            data-aos-delay="600"
                    >
                        <div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">1291</span></span
              >
                            <span class="caption text-black-50">거래 회원수</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        <div class="section sec-testimonials bg-light">-->
<!--            <div class="container">-->
<!--                <div class="row mb-5 align-items-center">-->
<!--                    <div class="col-md-6">-->
<!--                        <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">-->
<!--                            The Team-->
<!--                        </h2>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-md-end">-->
<!--                        <div id="testimonial-nav">-->
<!--                            <span class="prev" data-controls="prev">Prev</span>-->

<!--                            <span class="next" data-controls="next">Next</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="row">-->
<!--                    <div class="col-lg-4"></div>-->
<!--                </div>-->
<!--                <div class="testimonial-slider-wrap">-->
<!--                    <div class="testimonial-slider">-->
<!--                        <div class="item">-->
<!--                            <div class="testimonial">-->
<!--                                <img-->
<!--                                        src="images/person_1-min.jpg"-->
<!--                                        alt="Image"-->
<!--                                        class="img-fluid rounded-circle w-25 mb-4"-->
<!--                                />-->
<!--                                <h3 class="h5 text-primary">James Smith</h3>-->
<!--                                <p class="text-black-50">Designer, Co-founder</p>-->

<!--                                <p>-->
<!--                                    Far far away, behind the word mountains, far from the-->
<!--                                    countries Vokalia and Consonantia, there live the blind texts.-->
<!--                                    Separated they live in Bookmarksgrove right at the coast of-->
<!--                                    the Semantics, a large language ocean.-->
<!--                                </p>-->

<!--                                <ul class="social list-unstyled list-inline dark-hover">-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-twitter"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-facebook"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-linkedin"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-instagram"></span></a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="item">-->
<!--                            <div class="testimonial">-->
<!--                                <img-->
<!--                                        src="images/person_2-min.jpg"-->
<!--                                        alt="Image"-->
<!--                                        class="img-fluid rounded-circle w-25 mb-4"-->
<!--                                />-->
<!--                                <h3 class="h5 text-primary">Carol Houston</h3>-->
<!--                                <p class="text-black-50">Designer, Co-founder</p>-->

<!--                                <p>-->
<!--                                    Far far away, behind the word mountains, far from the-->
<!--                                    countries Vokalia and Consonantia, there live the blind texts.-->
<!--                                    Separated they live in Bookmarksgrove right at the coast of-->
<!--                                    the Semantics, a large language ocean.-->
<!--                                </p>-->

<!--                                <ul class="social list-unstyled list-inline dark-hover">-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-twitter"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-facebook"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-linkedin"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-instagram"></span></a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="item">-->
<!--                            <div class="testimonial">-->
<!--                                <img-->
<!--                                        src="images/person_3-min.jpg"-->
<!--                                        alt="Image"-->
<!--                                        class="img-fluid rounded-circle w-25 mb-4"-->
<!--                                />-->
<!--                                <h3 class="h5 text-primary">Synthia Cameron</h3>-->
<!--                                <p class="text-black-50">Designer, Co-founder</p>-->

<!--                                <p>-->
<!--                                    Far far away, behind the word mountains, far from the-->
<!--                                    countries Vokalia and Consonantia, there live the blind texts.-->
<!--                                    Separated they live in Bookmarksgrove right at the coast of-->
<!--                                    the Semantics, a large language ocean.-->
<!--                                </p>-->

<!--                                <ul class="social list-unstyled list-inline dark-hover">-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-twitter"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-facebook"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-linkedin"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-instagram"></span></a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="item">-->
<!--                            <div class="testimonial">-->
<!--                                <img-->
<!--                                        src="images/person_4.jpg"-->
<!--                                        alt="Image"-->
<!--                                        class="img-fluid rounded-circle w-25 mb-4"-->
<!--                                />-->
<!--                                <h3 class="h5 text-primary">Davin Smith</h3>-->
<!--                                <p class="text-black-50">Designer, Co-founder</p>-->

<!--                                <p>-->
<!--                                    Far far away, behind the word mountains, far from the-->
<!--                                    countries Vokalia and Consonantia, there live the blind texts.-->
<!--                                    Separated they live in Bookmarksgrove right at the coast of-->
<!--                                    the Semantics, a large language ocean.-->
<!--                                </p>-->

<!--                                <ul class="social list-unstyled list-inline dark-hover">-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-twitter"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-facebook"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-linkedin"></span></a>-->
<!--                                    </li>-->
<!--                                    <li class="list-inline-item">-->
<!--                                        <a href="#"><span class="icon-instagram"></span></a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </th:block>
</th:block>