<th:block th:replace="~{layout/header :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <link th:href="@{/crud/styles.css}" rel="stylesheet" />
        <!--crud전용-->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Bootstrap core JavaScript -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <style>
            .login-box {
                margin-top: 75px;
                height: auto;
                background: #1A2226;
                text-align: center;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }

            .login-key {
                height: 100px;
                font-size: 80px;
                line-height: 100px;
                background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .login-title {
                margin-top: 15px;
                text-align: center;
                font-size: 30px;
                letter-spacing: 2px;
                margin-top: 15px;
                font-weight: bold;
                color: #ECF0F5;
            }

            .login-form {
                margin-top: 25px;
                text-align: left;
            }

            input[type=text] {
                background-color: #1A2226;
                border: none;
                border-bottom: 2px solid #0DB8DE;
                border-top: 0px;
                border-radius: 0px;
                font-weight: bold;
                outline: 0;
                margin-bottom: 20px;
                padding-left: 0px;
                color: #ECF0F5;
            }

            input[type=password] {
                background-color: #1A2226;
                border: none;
                border-bottom: 2px solid #0DB8DE;
                border-top: 0px;
                border-radius: 0px;
                font-weight: bold;
                outline: 0;
                padding-left: 0px;
                margin-bottom: 20px;
                color: #ECF0F5;
            }

            .form-group {
                margin-bottom: 250px;
                outline: 0px;
            }

            .form-control:focus {
                border-color: inherit;
                -webkit-box-shadow: none;
                box-shadow: none;
                border-bottom: 2px solid #0DB8DE;
                outline: 0;
                background-color: #1A2226;
                color: #ECF0F5;
            }

            input:focus {
                outline: none;
                box-shadow: 0 0 0;
            }

            label {
                margin-bottom: 0px;
            }

            .form-control-label {
                font-size: 10px;
                color: #6C6C6C;
                font-weight: bold;
                letter-spacing: 1px;
            }

            .btn-outline-primary {
                border-color: #0DB8DE;
                color: #0DB8DE;
                border-radius: 0px;
                font-weight: bold;
                letter-spacing: 1px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            .btn-outline-primary:hover {
                background-color: #0DB8DE;
                right: 0px;
            }

            .login-btm {
                float: left;
            }

            .login-button {
                padding-right: 0px;
                text-align: right;
                margin-bottom: 25px;
            }

            .login-text {
                text-align: left;
                padding-left: 0px;
                color: #A2A4A4;
            }

            .loginbttm {
                padding: 0px;
            }
        </style>
        <style>
            body {
                color: #666;
                font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
            }
            table {
                border-collapse: separate;
                border-spacing: 0;
                width: 100%;
            }
            th,
            td {
                padding: 6px 15px;
            }
            th {
                background: #42444e;
                color: #fff;
                text-align: left;
            }
            tr:first-child th:first-child {
                border-top-left-radius: 6px;
            }
            tr:first-child th:last-child {
                border-top-right-radius: 6px;
            }
            td {
                border-right: 1px solid #c6c9cc;
                border-bottom: 1px solid #c6c9cc;
            }
            td:first-child {
                border-left: 1px solid #c6c9cc;
            }
            tr:nth-child(even) td {
                background: #eaeaed;
            }
            tr:last-child td:first-child {
                border-bottom-left-radius: 6px;
            }
            tr:last-child td:last-child {
                border-bottom-right-radius: 6px;
            }
        </style>
        <style>
            .uploadResult {
                width: 100%;
                background-color: darkgrey;
                margin-top: 10px;
            }

            .uploadResult ul {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                vertical-align: top;
                overflow: auto;
            }

            .uploadResult ul li {
                list-style: none;
                padding: 10px;
                margin-left: 2em;
            }

            .uploadResult ul li img {
                width: 100px;
            }
        </style>
        </head>
        <body>

        <!-- <form method="post">
        <input type="text" value="" name="var" id="var">
        <input type="submit" value="검색">
        </form>
          -->



        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-2"></div>
                <div class="col-lg-6 col-md-8 login-box">
                    <div class="col-lg-12 login-key">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-12 login-title">
                        앙두리안띠
                    </div>

                    <div class="col-lg-12 login-form">
                        <div class="col-lg-12 login-form">
                            <form th:method="post" th:action="@{/daangnfind}">
                                <div class="form-group">
                                    <label class="form-control-label">키워드 입력</label>
                                    <input type="text" class="form-control">
                                    <div class="col-lg-12 loginbttm">
                                        <div class="col-lg-6 login-btm login-text">
                                            <!-- Error Message -->
                                        </div>
                                        <div class="col-lg-6 login-btm login-button">
                                            <button type="submit" class="btn btn-outline-primary">등록하기</button>
                                        </div>
                                    </div>
                                    <div>
                                        <table class= "table">
                                            <tr>
                                                <th>이미지</th>
                                                <th>제목</th>
                                                <th>내용</th>
                                                <th>주소</th>
                                                <th>가격</th>
                                                <th>찜</th>
                                            </tr>
                                            <!--                                    <tr th:each="news : ${news} ">-->
                                            <!--                                        <td><a th:href="${news.url}"><img th:src="${news.image}"></a></td>-->
                                            <!--                                        <td><span th:text="${news.title}" name="iname"></span></a></td>-->
                                            <!--                                        <td><span th:text="${news.content}"></span></a></td>-->
                                            <!--                                        <td><span th:text="${news.address}"></span></a></td>-->
                                            <!--                                        <td><span th:text="${news.price}"></span></a></td>-->
                                            <!--                                        <td><img src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/like-8111aa74d4b1045d7d5943a901896992574dd94c090cef92c26ae53e8da58260.svg"><span th:text="${news.heart}"></span></a></td>-->

                                            <!--                                        </a>-->
                                            <!--                                    </tr>-->
                                            <tr th:each="news : ${news} ">
                                                <td><div class="form-group fileForm">
                                                    <label >제품 이미지</label>
                                                    <div class="custom-file">
                                                        <!--                                                <div class="uploadResult">-->
                                                        <!--                                                    <ul>-->
                                                        <!--                                                        <li th:data-name="${dto.imageDTOList[0].getImgName()}" th:data-uuid="${dto.imageDTOList[0].getThumbnailURL()}">-->
                                                        <!--                                                            <img-->
                                                        <!--                                                                    th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null }"-->
                                                        <!--                                                                    th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|">-->
                                                        <!--                                                        </li>-->
                                                        <!--                                                    </ul>-->
                                                        <!--                                                </div>-->
                                                        <input type="file"  class="custom-file-input files" id="fileInput" multiple>
                                                        <label class="custom-file-label" data-browse="Browse"></label>
                                                        <div class="uploadResult">
                                                            <ul>
                                                                <li th:data-name="${news.image}" th:data-uuid="${news.image}">
                                                                    <button type='button' th:data-file="${news.address}" class='btn-warning btn-sm'>X</button><br>
                                                                    <img th:src="${news.image}">
                                                                    <input type='hidden' name='imageDTOList[0].imgName' th:value="${news.title}">
                                                                    <input type='hidden' name='imageDTOList[0].path' th:value="${news.address}">
                                                                    <input type='hidden' name='imageDTOList[0].uuid' th:value="${news.content}">
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <div class="box">

                                                        </div>

                                                        <input type="text" class="form-control" name="mid" th:value="${mdto.mid}" />

                                                    </div>
                                                </div></td>
                                                <!--                                        <td><a th:href="${news.url}"><img th:src="${news.image}"></a></td>-->
                                                <td><input type="text" th:value="${news.title}" name="iname"></td>
                                                <td><input type="text" th:value="${news.content}" name="idescription"></td>
                                                <td><input type="text" th:value="${news.address}" name="ilocation"></td>
                                                <td><input type="text" th:value="${news.price}" name="iprice" id="priceInput"></td>
                                                <td><img src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/like-8111aa74d4b1045d7d5943a901896992574dd94c090cef92c26ae53e8da58260.svg"><span th:text="${news.heart}"></span></a></td>

                                                </a>
                                            </tr>
                                        </table>
                                    </div>
                                </div>



                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2"></div>
                </div>
            </div>
        </div>
        <br>

        <br>
        <script>
            // HTML 요소 가져오기
            var priceInputs = document.querySelectorAll('input[name="iprice"]');

            // 각 priceInput 요소에 대해 작업
            priceInputs.forEach(function (priceInput) {
                // 값에서 ','와 '원' 제거 및 숫자 값 추출
                var priceValue = priceInput.value;
                var numericValue = priceValue.replace(/,/g, '').replace('원', '').trim();

                // 숫자 값 설정
                priceInput.value = numericValue;
            });
        </script>
        <script>
            $(document).ready(function(e) {

                var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
                var maxSize = 10485760; //10MB

                function checkExtension(fileName, fileSize){

                    if(fileSize >= maxSize){
                        alert("파일 사이즈 초과");
                        return false;
                    }

                    if(regex.test(fileName)){
                        alert("해당 종류의 파일은 업로드할 수 없습니다.");
                        return false;
                    }
                    return true;
                }

                $(".custom-file-input").on("change", function() {

                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

                    var formData = new FormData();

                    var inputFile = $(this);

                    var files = inputFile[0].files;

                    var appended = false;

                    for (var i = 0; i < files.length; i++) {

                        if(!checkExtension(files[i].name, files[i].size) ){
                            return false;
                        }

                        console.log(files[i]);
                        formData.append("uploadFiles", files[i]);
                        appended = true;
                    }

                    //upload를 하지 않는다.
                    if (!appended) {return;}

                    for (var value of formData.values()) {
                        console.log(value);
                    }

                    //실제 업로드 부분
                    //upload ajax
                    $.ajax({
                        url: '/uploadAjax',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type: 'POST',
                        dataType:'json',
                        success: function(result){
                            console.log(result);
                            showResult(result);
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            console.log(textStatus);
                        }
                    }); //$.ajax
                }); //end change event


                function showResult(uploadResultArr){

                    var uploadUL = $(".uploadResult ul");

                    var str ="";

                    $(uploadResultArr).each(function(i, obj) {

                        str += "<li data-name='" + obj.fileName + "' data-path='"+obj.folderPath+"' data-uuid='"+obj.uuid+"'>";
                        str + " <div>";
                        str += "<button type='button' data-file=\'" + obj.imageURL + "\' "
                        str += "class='btn-warning btn-sm'>X</button><br>";
                        str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                        str += "</div>";
                        str + "</li>";
                    });

                    uploadUL.append(str);
                }

                $(".uploadResult ").on("click", "li button", function(e){

                    console.log("delete file");

                    var targetFile = $(this).data("file");

                    var targetLi = $(this).closest("li");

                    $.ajax({
                        url: '/removeFile',
                        data: {fileName: targetFile},
                        dataType:'text',
                        type: 'POST',
                        success: function(result){
                            alert(result);

                            targetLi.remove();
                        }
                    }); //$.ajax
                });


                //prevent submit
                $(".btn-primary").on("click", function(e) {
                    e.preventDefault();

                    var str = "";

                    $(".uploadResult li").each(function(i,obj){
                        var target = $(obj);

                        str += "<input type='hidden' name='imageDTOList["+i+"].imgName' value='"+target.data('name') +"'>";

                        str += "<input type='hidden' name='imageDTOList["+i+"].path' value='"+target.data('path')+"'>";

                        str += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='"+target.data('uuid')+"'>";

                    });

                    //태그들이 추가된 것을 확인한 후에 comment를 제거
                    $(".box").html(str);

                    $("form").submit();

                });



            }); //document ready
        </script>

        </body>
    </th:block>
</th:block>