<<th:block th:replace="~{layout/header :: setContent(~{this::content} )}">

    <th:block th:fragment="content">
        <div class="hero page-inner overlay" style="background-image: url('/images/hero_bg_1.jpg')">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-9 text-center mt-5">
                        <h1 class="heading" data-aos="fade-up">About</h1>

                        <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                            <ol class="breadcrumb text-center justify-content-center">
                                <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                                <li class="breadcrumb-item active text-white-50" aria-current="page">MyPage
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-heading">
            <div class="section"></div>
            <div class="section pt-0">
                <div class="container">
                    <div class="row justify-content-cneter mb-5 ms-5">

                        <!-- sidebar-->
                        <div class="col-lg-4">
                            <div class="contact-info">
                                <div th:include="layout/mypageSidebar :: sidebar"></div>
                            </div>
                        </div>
                    <div class="col-md-8 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">비밀번호 수정</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form th:action="@{/mypage/myinfo/passwordModify}" th:method="post"
                                          onsubmit="return validateForm('modifyPasswordForm')">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Id</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group has-icon-left">
                                                        <div class="position-relative">
                                                            <input type="text" class="form-control" name="mid"
                                                                   th:value="${member.mid}" readonly>
                                                            <div class="form-control-icon">
                                                                <i class="bi bi-person"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Password</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group has-icon-left">
                                                        <div class="position-relative">
                                                            <input type="password" class="form-control"
                                                                   name="mpw" id="mpw1" oninput="validateForm()"
                                                                   placeholder="Password">
                                                            <div class="form-control-icon">
                                                                <i class="bi bi-lock"></i>
                                                            </div>
                                                        </div>
                                                        <div id="passwordError" class="text-danger"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Password 확인</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group has-icon-left">
                                                        <div class="position-relative">
                                                            <input type="password" class="form-control"
                                                                   name="mpw2"
                                                                   id="mpw2" oninput="validateForm()"
                                                                   placeholder="Password Check">
                                                            <div class="form-control-icon">
                                                                <i class="bi bi-lock"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary me-1 mb-1">완료
                                                </button>
                                                <a th:href="@{/mypage/myinfo/info}">
                                                    <button type="button"
                                                            class="btn btn-light-secondary me-1 mb-1">되돌아가기
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- // Basic Horizontal form layout section end -->
        </div>
        </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:inline="javascript">

            function validateForm() {
                var password = document.getElementById('mpw1').value;

                // 비밀번호 길이 체크
                if (password.length < 8 || password.length > 16) {
                    document.getElementById('passwordError').innerHTML = '비밀번호는 8자 이상 16자 이하로 입력해주세요.';
                    return false;
                } else {
                    if ($('#mpw1').val() == $('#mpw2').val()) {
                        $('#passwordError').text('비밀번호 일치').addClass('text-success').removeClass('text-danger');
                        return true;
                    } else {
                        $('#passwordError').text('비밀번호 불일치').addClass('text-danger').removeClass('text-success');
                        return false;
                    }
                }
            }

        </script>
    </th:block>
</th:block>
